.mt-100 {
    margin-top: 100px;
}

label.error {
    color: red;
    display: block;
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
}


.action-btn {
    font-size: 20px;
}

/* floating labels - start */
.has-float-label {
    display: block;
    position: relative
}

.has-float-label label:not(label.error), .has-float-label > span:not(.btn-show-pass) {
    position: absolute;
    cursor: text;
    font-size: 90%;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: .5rem;
    z-index: 3;
    line-height: 1;
    padding: 0 2px;
    color: #666
}

.has-float-label label:not(label.error)::after, .has-float-label > span::after {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    height: 5px;
    top: 40%;
    left: -.1em;
    right: -.2em;
    z-index: -1;
    width: 100%
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s
}

.has-float-label .form-control::-moz-placeholder {
    opacity: 1;
    transition: all .2s
}

.has-float-label .form-control:-ms-input-placeholder {
    opacity: 1;
    transition: all .2s
}

.has-float-label .form-control::placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus):-ms-input-placeholder {
    opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus)::placeholder {
    opacity: 0
}

.has-float-label .form-control:placeholder-shown:not(:focus):not(.error) + * {
    font-size: 95%;
    top: 1em
}

.input-group .has-float-label {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.input-group .has-float-label .form-control {
    width: 100%;
    border-radius: .25rem
}

.input-group .has-float-label:not(:last-child), .input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0
}

.input-group .has-float-label:not(:first-child), .input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

/* floating labels - end */
.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 75%;
    font-size: 13px;
    border: 1px solid #c80000;
    border-radius: 3px;
    padding: 4px 25px 5px 10px;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    pointer-events: none;
    color: #c80000;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    -moz-transition: opacity .4s;
    transition: opacity .4s
}

.alert-validate::after {
    content: "\f12a";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    display: block;
    position: absolute;
    color: #c80000;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1
}

.toast-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.spinner {
    position: relative
}

.spinner:before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    border: 2px solid #d1d3e0;
    border-right: 2px solid transparent
}

.spinner:before {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -.75rem
}

.spinner.spinner-right:before {
    left: auto
}

.spinner:before {
    -webkit-animation: animation-spinner .5s linear infinite;
    animation: animation-spinner .5s linear infinite
}

.spinner.spinner-white:before {
    border: 2px solid #fff;
    border-right: 2px solid transparent
}

.spinner.spinner-right:before {
    left: auto;
    right: 1rem
}

.spinner.spinner-right.btn:not(.btn-block) {
    padding-right: 3.5rem
}

@-webkit-keyframes animation-spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes animation-spinner {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.btn-show-pass {
    font-size: 15px;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 12px;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
    z-index: 1;
}


.alert-validate .btn-show-pass {
    visibility: hidden
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1
    }
}
